@font-face {
	font-family: sourcesans;
	src: url(fonts/woff/SOURCESANSPRO-REGULAR.WOFF) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: sourcesans_bold;
	src: url(fonts/woff/SOURCESANSPRO-SEMIBOLD.WOFF) format('woff');
	font-weight: bolder;
}

@font-face {
	font-family: sourcesans_light;
	src: url(fonts/woff/SOURCESANSPRO-LIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_extralight;
	src: url(fonts/woff/SOURCESANSPRO-EXTRALIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_bolder;
	src: url(fonts/woff/SOURCESANSPRO-BOLD.WOFF) format('woff');
}

* {
    font-family: sourcesans;
    color: rgb(0,59,92);
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 150px;
    padding: 0;
    background-color: #ffff;
    background-size: cover;
    text-align: center;
}

header{
    background: rgb(0,59,92);
    width: 100%;
    height: auto;
}

.header-escudo {
    display: inline-block;
    width: 100%;
    max-width: 1300px;
    text-align: left;
}

.escudo-header{
    max-width: 130px;
    display: inline-block;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.titulo-sitio {
    width: 100%;
    max-width: 1300px;
    height: auto;
    text-align: right;
    margin: auto;
}

.titulo-sitio h2{
    display: inline-block;
    color: rgb(0,59,92);
    background: rgba(0,0,0,0.12);
    padding: 10px 60px;
    border-left: 4px solid #00c9f0;
    border-right: 4px solid #00c9f0;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}


p{
    margin: 0;
}

h4{
    text-align: center;
    font-weight: bolder;
    color: rgb(0,59,92);
}

ul{
    text-align: left;
}

li{
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.contenedor a:hover {
    color: #00c9f0;
}

.contenedor{
    width: 100%;
    max-width: 1300px;
    display: inline-block;
    text-align: center;
}

.contenedor-principal{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contenedor-principal img, .contenedor img{
    width: 100%;
}

.contenedor-menu{
    
}

ul.menu{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.menu li{
    position: relative;
    list-style: none;
}

.menu a{
    color: #002d4a;
    text-decoration: none;
    font-size: 18px;
}

ul.menu li::before {
    content: "■ ";
    color: rgb(0, 201, 240);
    position: absolute;
    left: -10px;
    top: 9px;
    font-size: 6px;
}

.contenedor p{
    text-align: justify;
    margin: 15px;
    color: rgb(0,59,92);
}

.contenedor-slider{
    width: 100%;
    max-width: 1300px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.contenedor-2-cols{
    width: 90%;
    max-width: 637px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
}

.contenedor-3-cols{
    width: 90%;
    max-width: 416px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
}

.contenedor-4-cols{
    width: 100%;
    max-width: 306px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
}

.contenedor-2-cols img, .contenedor-3-cols img, .contenedor-4-cols img{
    text-align: center;
}

.contenedor ul{
    text-align: left;
}

.contenedor a{
    text-decoration: none;
    font-weight: bolder;
}

.l-footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgb(0,59,92);
    font-size: 13px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 25px;
}

.l-footer .l-region--footer{
    width: 100%;
    max-width: 1300px;
    padding-top: 15px;
    color: rgb(0,201,240);
    margin: 0 auto;
    display: block;
}

.l-footer .footer-logo-buap {
    float: left;
    height: 59px;
    overflow: hidden;
    padding-right: 10px;
}

.l-footer .footer-info-buap {
    height: 55px;
    width: 270px;
    float: left;
}

.l-footer .footer-info-buap p{
    color: #00c7f5;
}

.l-footer .footer-info-buap strong{
    color: #00c7f5;
}

.l-footer ul.menu {
    width: 230px;
    overflow: hidden;
    float: left;
    margin: 0;
    text-align: center;
}

.l-footer ul.menu li {
    list-style: none;
}

.l-footer ul.menu a {
    color: rgb(0,201,240);
    text-decoration: none;
}

.l-footer .footer-info-dep {
    float: right;
    width: 315px;
    max-width: 315px;
    overflow: hidden;
}

/*Página Interna "Conoce a tus candidatos"*/

.candidato {
    width: 100%;
    max-width: 1300px;
    display: inline-block;
    margin: 10px;
}

.logo-candidato {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.logo-candidato img{
    width: 100%;
}

.titulo-formula{
    color: rgb(0 199 245) !important;
}

.nombre-candidato {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.nombre-candidato h2{
	margin-bottom: 0px;
}

.conoce-mas{
	text-align: center !important;
    font-size: 21px;
    color: rgb(0 199 245) !important;
    font-weight: bolder;
	margin-top: 0px !important;
}

.conoce-mas a{
	color: rgb(0 199 245) !important;
	font-size: 21px;
	font-weight: bolder;
}

/*Página Interna Comisiones Auscultación*/

.contenedor-1{
    width: 100%;
    max-width: 1300px;
    display: inline-block;
    text-align: center;
}

.contenedor-izquierda, .contenedor-derecha{
    width: 100%;
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.contenedor-izquierda-ch, .contenedor-derecha-ch{
    width: 100%;
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 20px;
}

.contenedor-izquierda h2, .contenedor-derecha h2{
    color: rgb(0,59,92);
}

.contenedor h1{
    color: rgb(0,59,92);
}

.contenedor-1 h2{
    color: rgb(0,59,92);
}

.candidato2 {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.logo-candidato2 {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    text-align: center;
}

.contenedor-1 img {
    width: 100%;
    max-width: 150px;
}

.datos-candidato {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    text-align: center;
}

.nombre-candidato2 {
    color: #003b5c;
    font-weight: bolder;
    font-size: 17px;
}

.dependencia-candidato {
    color: #003b5c;
}

.cargo-candidato {
    color: #00c7f5;
    font-weight: bolder;
}



/*Responsivo*/

@media only screen and (min-width: 320px) and (max-width: 1024px){
    
    body{
        margin: 0;
    }
    
    .contenedor li{
        padding-left: 15px;
    }
    
    .contenedor-izquierda-ch, .contenedor-derecha-ch{
        margin: 0;
    }
    
    .l-footer{
        text-align: center;
        display: inline-block;
        position: relative;
    }
    
    .l-footer .footer-logo-buap{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }
    
    .l-footer .footer-info-buap{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }
    
    .l-footer ul.menu{
        float: none;
        display: inline-block;
        padding-left: 0;
        vertical-align: top;
        margin: 5px 0;
    }
    
    .l-footer .footer-info-dep{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1100px){
    .l-footer .footer-info-buap{
        width: 250px;
    }
    
    .l-footer ul.menu{
        padding-left: 0;
    }
}